@model Article
@{
    ViewData["Title"] = "ArticleDetail";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}
<br /><br />
<section class="section lb">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                    <div class="blog-title-area">
                        <span class="color-yellow"><a href="/Category/GetCategoryWithArticle/@Model.CategoryId" title="">@Model.Category.Name</a></span>
                        <h3>@Model.Title</h3>
                        <div class="blog-meta big-meta">
                            <small><a href="#" title="">@Model.CreatedAt.ToString("dd.MM.yyyy")</a></small>
                            <small><a href="/Author/Profile/@Model.AppUserId" title="">@Model.AppUser.Name @Model.AppUser.Surname</a></small>
                            <small><a href="#" title=""><i class="fa fa-eye"></i> @Model.ViewCount</a></small>
                        </div>
                    </div>
                    <div class="single-post-media">
                        <img src="@Model.ImageUrl" alt="" class="img-fluid">
                    </div>
                    <div class="blog-content">
                        <p>@Model.Content</p>
                    </div>
                    <hr class="invis1">
                    <div class="custombox authorbox clearfix">
                        <h4 class="small-title">Yazar Hakkında</h4>
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <img src="@Model.AppUser.ImageUrl" alt="" class="img-fluid rounded-circle" style="width: 75px; height: 75px; object-fit: cover">
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                <h4><a href="#">@Model.AppUser.Name @Model.AppUser.Surname</a></h4>
                                <p>@Model.AppUser.About</p>
                                @await Component.InvokeAsync("_DefaultSocialMediaAccountComponentPartial")
                            </div>
                        </div>
                    </div>
                    <hr class="invis1">
                    @await Component.InvokeAsync("_CommentListByArticleIdComponentPartial", new { articleId = Model.ArticleId })
                    <hr class="invis1">
                    @await Component.InvokeAsync("_ArticleDetailWriteComment", new { articleId = Model.ArticleId })
                    
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="sidebar">
                    @await Component.InvokeAsync("_DefaultNewsletterComponentPartial")
                    @await Component.InvokeAsync("_DefaultLast3ArticleComponentPartial")
                    @await Component.InvokeAsync("_DefaultCategoryListComponentPartial")
                </div>
            </div>
        </div>
    </div>
</section>