@using PresentationLayer.Helpers
@model List<Comment>

<div class="custombox clearfix">
    <h4 class="small-title">Yorumlar</h4>
    <div class="row">
        <div class="col-lg-12">
            <div class="comments-list">
                @if (Model != null && Model.Any())
                {
                    @foreach (var item in Model)
                    {
                        <div class="media">
                            <a class="media-left" href="#">
                                <img src="@item.AppUser.ImageUrl" alt="" class="rounded-circle" style="width: 75px; height: 75px; object-fit: cover">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading user_name">@item.AppUser.Name @item.AppUser.Surname<small>@item.CreatedAt.TimeAgo()</small></h4>
                                <p>@item.Content</p>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p>Bu yazıya henüz bir yorum yapılmamış.</p>
                }
            </div>
        </div>
    </div>
</div>
